your-large-file filter=lfs diff=lfs merge=lfs -text
oursecondmodel.pth filter=lfs diff=lfs merge=lfs -text
C:/Users/Rusoke[[:space:]]Marvin/Desktop/pneumoniadetection/detector/ml_models/oursecondmodel.pth filter=lfs diff=lfs merge=lfs -text
